.modern-button {
  border: none;
  border-radius: 80px;
  background-color: #738678;
  color: #333333;
  font-size: 15px;
  cursor: pointer;
  padding: 1.2em;
  margin: 3.8em;
  font-weight: bold;
}

.modern-button:hover {
  background-color: #738678;
}
