.education-block {
  border-radius: 30%;
}

.education {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;

  .education-square {
    font-size: 16px;
    color: #333333;
  }
  .icon-2 {
    font-size: 4em;
  }
}
