.div-1-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.icon-1 {
  width: 40px;
  height: auto;
  padding: 1em;
  color: #333333;
  display: inline;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 12.5%;
}
