/* Default styles */
.container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgb(71, 70, 83);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  color: white;
}

.content {
  font-size: 16px;
  color: white;
}

/* Tablet styles */
@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }

  .content {
    font-size: 18px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .content {
    font-size: 20px;
  }
}
