.my-projects-block {
  width: 50%;
  margin: 0 auto;
  display: inline;
  flex-wrap: wrap;

  .my-projects {
    border: 1px solid #333333;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: #738678;

    .a-href {
      text-decoration: none;
      color: #333333;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
