/* Default styles */
.container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: whitesmoke;
}

.title {
  font-size: 24px;
  color: #333333;
}

.content {
  font-size: 16px;
  color: #333333;
}

/* Tablet styles */
@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }

  .content {
    font-size: 18px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .content {
    font-size: 20px;
  }
}
